<div>
<img align="center" width="50%vw" alt = "comp image" src="download(1).jpg">
    <div class="header">
        <h1 class="header-heading">My PC Builder</h1>
    </div>
    
    <div class="content">
        <div class="main">     
            <hr>

            <p>Aiming to provide the best user-oriented experience in the PC Assembly and building process, BuildMyPC is one of the few PC customization 
			and modification websites on the internet. It is powered by a team of computer hardware experts and technical analysts, 
			who offer appropriate, affordable and the best options that can assist you to upgrade your PC from a mediocre machine to relative supercomputer that your 
			money can buy. BuildMyPc operates and functions considering the present hardware technologies and market trends to find the most 
			appropriate hardware options at a reasonable price.</p>
            <p>Get in touch with us anywhere, anytime by following BuildMPc</p>
            <a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-instagram"></a>
        </div>
        
    </div>
</div>

<style>
    .content
    {
        background-image: url("download(1).jpg");
    }
</style>