<div>
    <div class="header">
        <h1 class="header-heading">My PC Builder</h1>
    </div>
    <div class="content">
        <div class="main">

            <hr>

            <p>Millions of computers are sold every single day to people, who spend dozens of hours or even days to find the perfect computer that can accommodate their pockets. But now, it's time to say goodbye to all that wastage of time.
            Because this is the place where your time is valued beyond everything.
            This is the place where you'll get precisely the thing that you require without any bs.
            This is the place, the hub where you can BUILD your own little computer.

            Buildmypc is a platform where users can conveniently choose the components required to construct the best computers that their pockets can accommodate.

            You can build or upgrade your pc by customising and selecting your preferred components from a wide range of computer hardware-filtered according to your requirements.

            The filteration will be carried out considering the parameters and relevance that the customer has stated for its component hardware.

            There is a huge number of components in the market

            users can build their pc from their best components filtered out from an abundant list of sources

            We will give the user the components that he actually needs and not the ones that are portrayed in a hyped way.
            faster,quick and instant results</p>
        
        </div>
    </div>
</div>