{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-css">
    <a class="navbar-brand" href="/">PC Builder</a>
</nav>
<br><br>
<div class="container">
    <h3>Your Choices</h3><br><hr><br>
    <div class="row">
        {%for key,value in monitor.items()%}
            {%if key == "MediumImage"%}    
                <div class="col-3">
                    <img src="{{value['URL']}}" class="img-thumbnail" width="210px" height="210px" alt="" style="border: 0px;">     
                </div>
            {%endif%}
            {%if key == "ItemAttributes"%}
                <div class="col-8">
                    <strong>{{value['Title']}}</strong>
                </div>
            {%endif%}
            <br>
            
        {%endfor%}
    </div>
    <br><hr><br>
    <div class="row">
        {%for key,value in cpu.items()%}
            {%if key == "MediumImage"%}    
                <div class="col-3">
                    <img src="{{value['URL']}}" class="img-thumbnail" width=250 height=200 alt="" style="border: 0px;">     
                </div>
            {%endif%}
            {%if key == "ItemAttributes"%}
                <div class="col-8">
                    <strong>{{value['Title']}}</strong>
                </div>
            {%endif%}
            <br>
            
        {%endfor%}
    </div>
    <br><hr><br>
    <div class="row">
        {%for key,value in mouse.items()%}
            {%if key == "MediumImage"%}    
                <div class="col-3">
                    <img src="{{value['URL']}}" class="img-thumbnail" width=250 height=200 alt="" style="border: 0px;">     
                </div>
            {%endif%}
            {%if key == "ItemAttributes"%}
                <div class="col-8">
                    <strong>{{value['Title']}}</strong>
                </div>
            {%endif%}
            <br>
            
        {%endfor%}
    </div>
    <br><hr><br>
    <div class="row">
        {%for key,value in keyboard.items()%}
            {%if key == "MediumImage"%}    
                <div class="col-3">
                    <img src="{{value['URL']}}" class="img-thumbnail" width=250 height=200 alt="" style="border: 0px;">     
                </div>
            {%endif%}
            {%if key == "ItemAttributes"%}
                <div class="col-8">
                    <strong>{{value['Title']}}</strong>
                </div>
            {%endif%}
            <br>
            
        {%endfor%}
    </div>
</div>

<style>
    .navbar-css
    {
        background-color: #3567AF;
    }

    .navbar-css a
    {
        color: azure;
    }

    
</style>
{% endblock %}