{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-css">
    <a class="navbar-brand" href="/">PC Builder</a>
</nav>

<div class="container mt-5">

    <h2>Mouse</h2>

    <div class="container">
        <div class="row">
            {%for item in items%}
                {%for key,value in item.items()%}
                    {%if key == "LargeImage" %}
                        <div class="col-md-4 p-3" id="{{item.ASIN}}">
                            <div class="card text-center">
                                <div class="card-header text-left text-truncate " data-toggle="tooltip" title="{{item.ItemAttributes.Title}}">
                                    {{item.ItemAttributes.Title}}
                                </div>
                                <div class="row card-body">
                                    {%if key == "LargeImage"%}
                                    <div class="col-sm text-center">
                                        <img src="{{value['URL']}}" class="img-thumbnail" alt="" style="border: 0px; height: 210px">
                                    </div>
                                    {%endif%}
                                </div>
                                <hr>
                                <div class="card-block" >
                                    
                                    <p class="card-text p-2 text-left" style="color:#223284;">
                                        <strong>{{item.OfferSummary.LowestNewPrice.FormattedPrice}}</strong>
                                    </p>
                                </div>
                                
                                <div class="card-footer text-muted">
                                    <button class="btn btn-primary col-md-12 pr-4 btn-block" onclick="chose('{{item.ASIN}}')">I Like It</button>
                                <br>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    <br>
                {%endfor%}
            {%endfor%}
        </div>
    </div>
    <a href="/choose-keyboard"><button class="btn btn-primary col-md-4 pr-4 btn-block" onclick="sendASIN()">Next</button></a>


</div>

{%for item in items%}
    <!-- {{item.LargeImage}} -->
    {%for key,value in item.items()%}
        {{key}}
        {%if key == "LargeImage"%}
            {{value['Height']['#text']}}
        {%endif%}
        {%if key == "ItemAttributes"%}
            {{value['Brand']}}
        {%endif%}
        <br>
    {%endfor%}
    {{item.LargeImage}}
<br><hr><br>
{%endfor%}

<style>
    .navbar-css
    {
        background-color: #3567AF;
    }

    .navbar-css a
    {
        color: azure;
    }

    
</style>

<script>
    var socket = io.connect('http://0.0.0.0:5000/');
    var a;
    function chose(asin)
    {
        a = asin;
        document.getElementById(asin).style.border = "1px solid #3567AF";
    }
    function sendASIN()
    {
        console.log("Mouse is in "+a)
        socket.emit('chose',a)
    }
</script>

{% endblock %}