{% extends "base.html" %}

{% block content %}

<div>
    <div id="intro" class="text-center">
        <div class="row">
            <div class="col">
                <br><br><br><br><br><br><br>
                <img class="animated bounceIn" src="../static/images/desktop.png" width="256" height="256" alt="">
                <img class="animated bounceIn" src="../static/images/xbox.png" alt="">
            </div>
            <div class="col text-white p-0" id="intro-text">
                <h1>Assemble your own PC</h1>
                <p>Find your own PC according to your specification</p>
            </div>
            
        </div>
        <a href="#preference"><button type="button" class="btn btn-lg btn-primary text-center text-primary" id="build-now"> Build Now</button></a>
    </div>

    <div id="about">
        <div class="container col-md-9 text-center" id="about-content">
            {% include "about.html" %}
        </div>
    </div>

    <div id="preference">
        <div class="container col-md-9 text-center" id="btn-grp">
            <h3 class="text-left text-white">Choose your preference</h3><hr>
            <div id="btn-container" class="text-center">
                <div class="row text-center" id="btn-grp-1">
                    <a href="#ram" class="p-5 col-md-3 ml-5 float-left rounded-circle" id="ram" onmouseover="hide_elements()" onmouseout="show_elements()">Greater RAM</a>
                    <a href="#" class="p-5 col-md-3 ml-5 rounded-circle" id="gpu">Awesome Graphic Card</a> 
                    <a href="#" class="p-5 col-md-3 ml-5 float-right rounded-circle" id="display">Better Display</a> 
                </div>
                <br><br>
                <div class="row text-center">
                    <a href="#" class="p-5 col-md-3 ml-5 rounded-circle" id="storage">Humongous Storage</a>
                    <a href="#" class="p-5 col-md-3 ml-5 rounded-circle" id="cpu">Faster CPU</a> 
                    <a href="#" class="p-5 col-md-3 ml-5 rounded-circle" id="aio">All in One</a> 
                </div>
            </div>
        </div>
    </div>

    <div id="os">
        <div class="container col-md-9 text-center" id="os-container">
            <div class="row">
                <div class="col-sm-6">
                <h2>Specifications Of OS</h2>
                    <br>
                    <div class="text-left">
                        <button type="button" data-toggle="collapse" class="btn btn-primary btn-block" data-target="#demo">Windows</button>                        
                    </div>
                    <div id="demo" class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div><br><br>
                    <div class="text-left">
                        <button type="button" class="btn btn-danger btn-block" data-toggle="collapse" data-target="#demo2">Linux</button>                        
                    </div>
                    <div id="demo2" class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="contain">
                    <h2>Product Ranges</h2>
                    <br>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle col-md-6" type="button" data-toggle="dropdown">Your Budget</button>
                            <ul class="dropdown-menu">
                                <li><a href="#">10k-20k</a></li>
                                <li><a href="#">20k-30k</a></li>
                                <li><a href="#">30k-40k</a></li>
                                <li><a href="#">40k-50k</a></li>
                                <li><a href="#">50k-60k</a></li>
                                <li><a href="#">60k-70k</a></li>
                                <li><a href="#">70k-80k</a></li>
                                <li><a href="#">80k-90k</a></li>
                                <li><a href="#">90k-1L</a></li>
                                <li><a href="#">Above 1L</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><br><br><br>
            <div class="container text-center" id="submit">
                <form action="/choose-pc" class="text-center">
                    <button class="btn btn-primary col-md-12 pr-4 btn-block">Build</button>
                </form>
            </div>
        </div>
    </div>


<style>
    body
    {
        overflow-x: hidden;
    }
    #intro 
    {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
    #intro
    {
        background-color: #3567AF;
        height: 95vh;
    }
    #intro .row
    {
        height: 80vh;
    }
    #intro-text
    {
        margin-top: 40%;
        padding: -15px;
    }
    #build-now
    {
        background-color: white;
        text-decoration-color: #3567AF;
    }
    #about
    {
        height: 105vh;
    }

    #about-content
    {
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    #preference
    {
        height: 100vh;
        /*background-image: url("../static/images/panel2_bg_red.jpg");*/
        background-color: #3567AF;
    }

    #btn-grp
    {
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    #btn-container
    {
        padding-top: 40px;
    }

    #btn-grp row a
    {
        padding: 2%;
        border: 3px solid black;
    }
    #btn-grp a
    {
        border: 2px solid white;   
        text-decoration: none;
        background: #3567AF;
        color: white;
    }

    #btn-grp a:hover
    {
        padding: 0%;
    }

    #ram:hover
    {
        /*position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5%;*/
        padding: 7rem !important;
        transition-duration: 0.5s;
    }
    #ram:focus
    {
        background-color: white;
        color: #3567AF;
    }

    #os
    {
        height: 100vh;
    }

    #os-container
    {
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

</style>

<script>
    /*$("#ram").hover(function(){
        $(this).parent().parent().parent().parent().css({'background-color':'red'})
    });*/
    function hide_elements()
    {
        document.getElementById('cpu').style.visibility="hidden";
        document.getElementById('gpu').style.visibility="hidden";
        document.getElementById('display').style.visibility="hidden";
        document.getElementById('storage').style.visibility="hidden";
        document.getElementById('aio').style.visibility="hidden";
    }
    function show_elements()
    {
        document.getElementById('cpu').style.visibility="visible";
        document.getElementById('gpu').style.visibility="visible";
        document.getElementById('display').style.visibility="visible";
        document.getElementById('storage').style.visibility="visible";
        document.getElementById('aio').style.visibility="visible";
    }
</script>

{% endblock %}
